
<template name="home">
  <div class="container2">  
    <!-- si l'user est connecté on affiche sa liste -->
    {{#if currentUser}}
      {{> hello}}
      {{> liste}}
    {{else}}
    <div class="big-header">
      {{> header}}
    </div>
      {{> welcome}}
    {{/if}}
  </div>
</template>


<template name="header">
   <div class="header text-center">
      <img src="cifacom_logo.png">
      <h1 class="text-center first-title">ProjectTeam</h1>
      <p>Wow such txt, many words, much hype</p>
  </div>
</template>


<template name="hello">      
    <div class="row">
      <div class="col-md-11 title">
        <h1 class="title">Mes projets</h1>
        <hr>
      </div>
    </div>  
    {{> ajout}}
</template>


  <!-- instant searchbox -->
<template name="searchBox">
    <ul class="row">
     <!--  resultat research instant -->
        {{#esEach index="projets"}}
            <li class="col-md-6 col-xs-12 col-sm-12"><a class="thisAnnonce" href="annonce/{{_id}}" ><div>{{titre}}</div></a></li>
        {{/esEach}}
    </ul>
      {{#ifEsHasNoResults index="projets"}}
        <div class="no-results">Aucun résultat</div>
    {{/ifEsHasNoResults}}
</template>

  <!-- ajout d'un annonce -->
<template name="ajout">

  <a class="btn btn-danger btn-addProject" href="#" data-toggle="modal" data-target="#modalAdd">Ajouter un projet</a>

  <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <form class="new-annonce">
              <input class="dat-input" required type="text" name="titre" placeholder="Titre" data-role="tagsinput"/>
              <input class="dat-input" type="text" name="description" placeholder="Description" />
              <input class="dat-input" type="tel" name="tel" placeholder="TELEPHONE" />
              <input class="dat-input" type="text" name="personne" placeholder="ex : developpeur php" />
              <input class="dat-input" type="email" name="mail" placeholder="MAIL" value={{currentUser.emails.[0].address}} />
              <input class="dat-input" type="text" id="tags" name="tags" placeholder="Tags" data-role="tagsinput"/>
              <input class="btn btn-danger" type="submit" value="Submit"  data-dismiss="modal" aria-label="Close">
            </form>
        </div>
      </div>
    </div>
  </div>

</template>


<template name="liste">


  {{#if annonce}} <!-- si il a des annonces -->
  <div class="row list">
    {{#each annonce}}
      {{>annoncesPopUp}}
    {{/each}}
   </div>
  {{else}}
  Vous n'avez pas d'annonces
  {{/if}}


</template>

<template name="annoncesPopUp">

<div class="col-md-6">
      <a class="thisAnnonce" href="#" data-toggle="modal" data-target="#{{_id}}"> <!--  Envoie vers la pop -->

        <div>
          {{titre}}
          {{personne}}
          {{description}}
          {{#if postulants.length}}
          ({{postulants.length}})
          {{/if}}
        </div>
      </a>
      <button class="areUSure" data-toggle="modal" data-target="#myModal">&times;</button>
</div> 
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Voulez-vous vraiment supprimer cette annonce ?</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success close delete" data-dismiss="modal"  aria-label="Close">Oui</button>
            <button type="button" class="btn btn-danger close" data-dismiss="modal">Non</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Pop up info du annonce  -->

    <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Info de l'annonce</h4>
          </div>
          <div class="modal-body">
            <ul>
              {{#if update}}
                <!-- Si on a cliqué sur update on met le formulaire d'update -->
               {{>formodif}}
              {{else}}
                <li>Titre : {{titre}}</li>
                <li>Description : {{description}}</li>
                <li>Téléphone : {{tel}}</li>
                <li>Personne(s) recherchée(s) : {{personne}}</li>
                <li>Mail : {{mail}}</li>
                <li>Tags : {{tags}}</li>
                <input type="text" id="annonceId" style="display:none;" value="{{this._id}}">
              {{#if postulantsAnnonce}} <!-- S'il ya des postulants -->
                <li>Ces personnes ont marqué leur intérêt :
                  {{#each postulantsAnnonce}}
                  <br>
                  <a href="users/{{this._id}}">{{profile.firstname}}</a>
                  <button id="validerPostuler">Valider</button>
                  {{/each}}
                </li>
              {{/if}}  
              {{#if valideDemande}} <!-- S'il ya des demandes validées -->                
                <li>Ces personnes ont valider la demande :
                  {{#each valideDemande}}
                    <br>
                    <a href="users/{{this.id}}">{{profile.firstname}}</a>
                    <button id="finaliser">Valider</button>
                  {{/each}}
                </li>                
              {{/if}}
              {{#if membres}} <!-- S'il ya des membres -->                
                <li>Membres du projet :
                  {{#each membres}}
                    <br>
                    <a href="users/{{this.id}}">{{profile.firstname}}</a>
                  {{/each}}
                </li>                
              {{/if}}             
                <button class="btn btn-primary mt-10" id='update'>Modifier</button>  
              {{/if}}
            </ul>
           

          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>

</template>

<!-- formulaire modif annonce -->
<template name="formodif">

  <form class="modif" id="{{_id}}">
    <li>Titre : <input required type="text" name="titre" value="{{titre}}" /></li>
    <li>Description : <input  type="text" name="description" value="{{description}}" /></li>
    <li>Téléphone : <input  type="tel" name="tel" value="{{tel}}" /></li>
    <li>Personne(s) recherchée(s) : <input  type="text" name="personne" value="{{personne}}" /></li>
    <li>Mail : <input  type="email" name="mail" value="{{mail}}" /></li>
    <li>Tags : <input  type="text" id="tags_modif" name="tags" value="{{tags}}" data-role="tagsinput"/></li>
    <button class="btn btn-success mt-10" type="submit" value='Submit' >Valider</button>
  </form>

</template>
<template name="userValide">
  <a href="users/{{this}}">{{users}}</a>
  <button id="ajouter">Valider</button>
</template>
