<head>
    <title>ProjectTeam</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
</head>
<body>
</body>

<template name="layout">

  <input type="checkbox" id="op">
  <div class="lower">
    <label for="op">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </label>
    <!-- <a href="#" class="btn-filter">Cliquer ici pour la recherche et pour les (filtres ?) trucs</a> -->
  </div>
  <div class="overlay overlay-hugeinc">
        <label class="cross" for="op"></label>
        <nav>
          <ul>
            {{#if currentUser}}
            <li><label for="op"><a class="itemMenu" href="/projets">Projets</a></label></li>
            <li><label for="op"><a class="itemMenu" href="/">Mes projets</a></label></li>
            <li><label for="op"><a class="itemMenu" href="/supports">Recherche de Supports</a></label></li>
            <li><label for="op"><a class="itemMenu" href="/profil">Profil</a></label></li>
            <li><label for="op"><a class="itemMenu" href="/demandes">Demandes</a></label></li>
            <li><label for="op"><a href="#" class="itemMenu logout">Logout</a></label></li>
            {{else}}
            <li><label for="op"><a class="itemMenu" href="/register">Register</a></label></li>
            <li><label for="op"><a class="itemMenu" href="/login">Login</a></label></li>
            {{/if}}
          </ul>
        </nav>
  </div>
  <!-- <div class="filter text-center">
      {{> esInput index="projets" placeholder="Chercher un annonce" class="btn btn-default"}}

      <div class="grp-filter">
          <p class="one-filter">
             <input type="checkbox" id="filter1">
             <label for="filter1">WOW SUCH FILTER</label>
          </p>
          <p class="one-filter">
             <input type="checkbox" id="filter2">
             <label for="filter2">WOW SUCH FILTER</label>
          </p>
          <p class="one-filter">
             <input type="checkbox" id="filter3">
             <label for="filter3">WOW SUCH FILTER</label>
          </p>
          <p class="one-filter">
             <input type="checkbox" id="filter4">
             <label for="filter4">WOW SUCH FILTER</label>
          </p>
      </div>
      <div class="grp-filter">
          <p class="one-filter">
             <input type="checkbox" id="filter6">
             <label for="filter6">WOW SUCH FILTER 2</label>
          </p>
          <p class="one-filter">
             <input type="checkbox" id="filter7">
             <label for="filter7">WOW SUCH FILTER 2</label>
          </p>
      </div>
      <div class="grp-filter">
          <p class="one-filter">
             <input type="checkbox" id="filter8">
             <label for="filter8">WOW SUCH FILTER 3</label>
          </p>
          <p class="one-filter">
             <input type="checkbox" id="filter9">
             <label for="filter9">WOW SUCH FILTER 3</label>
          </p>
          <p class="one-filter">
             <input type="checkbox" id="filter10">
             <label for="filter10">WOW SUCH FILTER 3</label>
          </p>                
      </div>
      <input class="btn btn-success valid-filter" type="submit" value="VALIDER">
  </div> -->
  <div class="mega-container">      
      {{>yield}}
  </div>
</template>  