<template name="projets">
<div class="container2">
	{{> esInput index="projets" placeholder="Chercher un projet par titre ou tags" class="dat-search"}}
		<ul class="row">
			<!--  resultat research instant -->
			{{#esEach index="projets"}} 
				<!--  Afficher que les projets des autres -->
				{{#if isMyProject owner}}
				{{else}}	
				<li class="col-md-6 col-xs-12 col-sm-12"><a class="thisAnnonce" href="annonce/{{_id}}" ><div>{{titre}}</div></a></li>
				{{/if}}
			{{/esEach}}
		</ul>
		{{#ifEsHasNoResults index="projets"}}
			<div class="no-results">Aucun résultat</div>
		{{/ifEsHasNoResults}}
	<h1 class="title">Projets</h1>
	<hr>
		{{#if projets}} 
		<!-- si il a des annonces -->
		<div class="row list">
			{{#each projets}}
				<li class="col-md-6 col-xs-12 col-sm-12"><a class="thisAnnonce" href="annonce/{{_id}}" ><div>{{titre}}</div></a></li>
			{{/each}}
		</div>
		{{else}}
			Vous n'avez pas d'annonces
		{{/if}}
</div>
</template>
