<template name="projets">
	<div class="pContainer">
		{{> headerScreen}}
		{{> date}}
		{{> projet}}
		{{> projet}}
		{{> projet}}
		{{> projet}}
		{{> date}}
		{{> projet}}
		{{> projet}}
		{{> projet}}
		{{> projet}}
	</div>
	
    
</template>

<template name="headerScreen">
	<div class="hContainer">
		<a href="#"></a>
		<h1>Projets</h1>
		<a href="#"></a>
		<a href="#"></a>
	</div>
</template>

<template name="date">
	<div class="date">Date</div>
</template>

<template name="projet">
	<div class="projet">Projet</div>
</template>