<template name="register">
    {{> header}}
    <div class="alert alert-dismissable alert-danger" id="errorNotification">
        <ul id="errorList">
        </ul>
    </div>
    <form class="register">
        <input class="dat-input" type="email" name="email" placeholder="Adresse mail">
        <input class="dat-input" type="password" name="password" placeholder="Mot de passe">
        <input class="dat-input" type="password" name="repassword" placeholder="Comfirmer votre mot de passe">
        <input class="dat-input" type="text" name="firstname" placeholder="Prénom">
        <input class="dat-input" type="text" id="lastname" name="lastname" placeholder="Nom">
        <input class="dat-input" type="text" id="school" name="school" placeholder="Ecole">
        <input class="dat-input" type="text" id="promo" name="promo" placeholder="Promo">
        <input class="dat-input" type="date" id="birthday" name="birthday" placeholder="Date de naissance">
        <input class="dat-input" type="text" name="tags" id="tags" data-role="tagsinput" placeholder="Tags">
        <input class="btn btn-danger" type="submit" value="S'inscrire">
    </form>
</template>