<template name="register">
    <div class="alert alert-dismissable alert-danger" id="errorNotification">
        <ul id="errorList">
        </ul>
    </div>
    <form class="register">
        <p>Email: <input type="email" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <p>Password (again): <input type="password" name="repassword"></p>
        <p>Name (optional): <input type="text" name="firstname"></p>
        <p>Lastname (optional): <input type="text" id="lastname" name="lastname"></p>
        <p>School (optional): <input type="text" id="school" name="school"></p>
        <p>Promo (optional): <input type="text" id="promo" name="promo"></p>
        <p>Tags (optional):<input type="text" name="tags" id="tags" data-role="tagsinput"></p>
        <p>Date (optional):<input type="date" id="birthday" name="birthday"></p>
        <p><input type="submit" value="Register"></p>
    </form>
</template>