<template name="supports">
	Recherche par prenom ou tags (exemple pour les tags : php, mysql): {{> esInput index="supports" placeholder="Chercher un annonce" class="btn btn-default"}}
<h1>Recherche :</h1>	
	<ul class="row">
		<!--  resultat research instant -->
		{{#esEach index="supports"}} 
			<!--  Afficher que les projets des autres -->
			{{#if isMyId _id}}
			{{else}}	
				<a class="thisAnnonce" href="users/{{_id}}" >{{profile.firstname}}</a>
			{{/if}}
		{{/esEach}}
	</ul>
	{{#ifEsHasNoResults index="supports"}}
		<div class="no-results">Aucun résultat</div>
	{{/ifEsHasNoResults}}
</template> 


