<template name="supports">
	<div class="container2">
		<h1 class="title">Recherche de supports</h1>
		{{> esInput index="supports" placeholder="Chercher par prenom ou par tags" class="dat-search"}}
		
		<ul class="row">
			<!--  resultat research instant -->
			{{#esEach index="supports"}} 
				<!--  Afficher que les projets des autres -->
				{{#if isMyId _id}}
				{{else}}	
					<a class="thisAnnonce" href="users/{{_id}}" >{{profile.firstname}}</a>
				{{/if}}
			{{/esEach}}
		</ul>
		{{#ifEsHasNoResults index="supports"}}
			<div class="no-results">Aucun résultat</div>
		{{/ifEsHasNoResults}}
	</div>
</template> 


