<template name="supports">
	<div class="container2">
		<h1 class="title">Recherche de supports</h1>
		{{> esInput index="supports" placeholder="Chercher par prenom ou par tags" class="dat-search"}}
		
		<ul class="row">
			<!--  resultat research instant -->
			{{#esEach index="supports"}} 
				<!--  Afficher que les projets des autres -->
				{{#if isMyId _id}}
				{{else}}	
					<a class="thisAnnonce" href="users/{{_id}}" >
						<div class="avatar avatar-large avatar-circle">
				            <img class="avatar-image" src="img-test-profil.png" alt="PROFIL" onerror="this.style.display='none';" width="310" height="310">
				            <span class="avatar-initials">A</span>
				        </div>
				        <div class="content-support">
							<p class="name-support">{{profile.firstname}} {{profile.lastname}}</p>
							<p class="tag-support">{{profile.tags}}</p>
				        </div>
				        <hr>
					</a>
				{{/if}}
			{{/esEach}}
		</ul>
		{{#ifEsHasNoResults index="supports"}}
			<div class="no-results">Aucun résultat</div>
		{{/ifEsHasNoResults}}
	</div>
</template> 


