.register,
.login-form {

	.dat-input {
		border: none;
		border-bottom: 1px solid #ffffff;
		background-color: transparent;
		display: block;
		width: 80%;
		font-size: 18px;
		color: #ffffff;
		padding: 5px 0;
		margin: 0 auto;
		margin-bottom: 25px;

		&:focus {
			border: none;
			border-bottom: 3px solid #ffffff;
			outline: none;
		}
	}
	::-webkit-input-placeholder {
	    color: #ffffff;
	}
	:-moz-placeholder {
	   color: #ffffff;
	   opacity:  1;
	}
	::-moz-placeholder {
	   color: #ffffff;
	   opacity:  1;
	}
	:-ms-input-placeholder {
	   color: #ffffff;
	}

	.bootstrap-tagsinput {
	    background-color: transparent;
	    width: 80%;
	    border: none;
	    margin: 0 auto;
	    display: block;

	    .tag  {
		    display: inline-block;
		    height: 20px;
		    font-size: 18px;
		    line-height: 20px;
		    margin-bottom: 5px;
	    }

	    input {
	    	border: none;
			border-bottom: 1px solid #ffffff;
			background-color: transparent;
			display: block;
			width: 80%;
			font-size: 18px;
			color: #ffffff;
			padding: 5px 0;
			margin: 0;
			margin-bottom: 25px;
	    }
	}
}

.new-annonce {
	color: #000;
}